body {
    font-family: 'poppins', sans-serif;
    background-color:rgb(255, 255, 255);
    transition: 0.5s;
}


body.dark-mode {
    background-color: #0e0505;
}

.login-box {
    background: rgba(195, 205, 214, 0.808);
    box-shadow: 0 8px 32px 0 rgba(230, 229, 229, 0.836);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5 );
    border-radius: 30px;
    border: 1px solid rgba(1, 55, 170, 0.753);
    width: 25%;
    margin: auto;
    margin-top: 10%;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    transition: 0.5s;
}

@media only screen and (max-width: 768px) {
    .login-box {
        width: 75%;
    }
}

@media only screen and (max-width: 1366px) {
    .login-box {
        width: 40%;
    }
}

    .login-box h1 {
        text-align: center;
        color: #232c3d;
        transition: 0.5s;
    }

    .login-box h1.dark-mode {
        color: white;
    }

    .theme {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }

    input {
        width: 80%;
        margin-bottom: 20px;
        border: none;
        background-color: #f0f5ff;
        border-radius: 10px;
        padding: 10px;
        font-size: 14px;
        transition: 0.5s;
    }

    input.dark-mode {
        background-color: #042772;
        color: white;
    }

    input:focus {
        outline: none;
    }

    form button {
        width: 40%;
        border: none;
        background-color: rgb(141, 141, 141);
        border-radius: 10px;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        transform: 0.5s;
    }

    form button.dark-mode {
        background-color: rgb(10, 33, 167);
    }

    form button:hover {
        cursor: pointer;
        background-color: rgb(67, 96, 226);
    }

    form button.dark-mode:hover {
        background-color: rgb(66, 101, 255);
    }

    form button:focus {
        outline: none;
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-left: 48%;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        border-radius: 34px;
        transition: 0.5s;
    }

    .slider::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 50%;
        transition: 0.5s;
    }

.slider::after {
        position: relative;
        content: "";
        height: 26px;
        width: 26px;
        right: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 50%;
        transition: 0.5s;
    }
    
    .switch input:checked + .slider {
        background-color: darkblue;
    }


    .switchinput:checked + .slider::after {
        transform: translateX(26px);
    }